<!DOCTYPE html>
<html lang="en">
<head>
    
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user.name }}'s Watchlist</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    {% endblock %}
</head>
<body><!-- 插入到页面标题上方 -->
    {% for message in get_flashed_messages() %}
    <div class="alert">{{ message }}</div>
    {% endfor %}
    <h2>
        <img alt="people" class="people" src="{{ url_for('static', filename='images/people.gif') }}">
        <br>
        <img alt="Avatar" class="avatar" src="{{ url_for('static', filename='images/logo.png') }}">
        {{ user.name }}'s Watchlist
    </h2>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
        <!--根据登陆状态分别显示不同内容-->
        {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('settings') }}">Settings</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        {% else %}
            <li><a href="{{ url_for('login') }}">Login</a></li>
        {% endif %}
        </ul>
    </nav>
    {% block content %}{% endblock %}
    <footer>
        <small>&copy; 2022 <a href="https://prime.org.cn/">Emroy' s Blog</a></small>
    </footer>
</body>
</html>