{% extends 'base.html' %}

{% block content %}
<p>{{ books|length }} Titles</p>
<ul class="book-list">
    {% for book in books %}
    <li>{{ book.title }} - {{ book.year }}
        <span class="float-right">
            <a class="imdb" href="https://www.imdb.com/find?q={{ book.title }}" target="_blank" title="Find this book on IMDb">IMDb</a>
        </span>
    </li>
    {% endfor %}
</ul>
<img alt="Walking Totoro" class="totoro" src="{{ url_for('static', filename='images/totoro.gif') }}" title="to~to~ro~">
{% endblock %}